This is my first SQL Query on my Thinkpad

In [33]:
INSERT INTO DOCTOR 
VALUES  (1011, 'Dr.Arun T V', 'ENT', 'MBBS | MS'),
        (1012, 'Dr.Jayanthi', 'ENT', 'MBBS | DLO | DNB(ENT)'),
        (1013, 'Dr.Rohit M', 'ENT', 'MBBS | MS'),
        (1014, 'Dr.Mukundan', 'ENT', 'MBBS | MS'),
        (1015, 'Dr.Anand', 'ENT', 'MBBS | MS'),
        (1016, 'Dr.Aashalatha', 'ENT', 'MBBS | MS'),
        (2011, 'Dr.Mohan', 'Dental Medicine', 'BDS | MDS'),
        (2012, 'Dr.Shubha', 'Dental Medicine', 'BDS | MDS Prosthodontics'),
        (2013, 'Dr.Rithika Sharma', 'Dental Medicine', 'BDS | MDS'),
        (2014, 'Dr.Pavandeep ', 'Dental Medicine', 'BDS'),
        (2015, 'Dr.Sachdeva', 'Dental Medicine', 'BDS | MDS'),
        (2016, 'Dr.Bharat', 'Dental Medicine', 'BDS | M.I.D.A | F.A.G.E'),
        (3011, 'Dr.Savita', 'Dermatology', 'MD | FRGUHS - Cosmetic Dermatology'),
        (3012, 'Dr.Joshi', 'Dermatology', 'MBBS | MD (Dermatology)'),
        (3013, 'Dr.Ritu', 'Dermatology', 'MBBS | MD (Dermatology)'),
        (3014, 'Dr.Jaidev', 'Dermatology', 'MD (Dermatology), FRGUHS'),
        (3015, 'Dr.Sushmitha', 'Dermatology', 'MBBS | DDV, DNB'),
        (3016, 'Dr.Gaurav', 'Dermatology', 'MBBS | MD'),
        (4011, 'Dr.Ravi', 'Nephrology', 'MBBS | MD (Int Med) | DNB (Nephro)'),
        (4012, 'Dr.Darshan Sharma', 'Nephrology', ' MBBS | MD | DM | DNB'),
        (4013, 'Dr.Mayank', 'Nephrology', 'MBBS | MD | DM'),
        (4014, 'Dr.Yug Singh', 'Nephrology', 'MD | DM '),
        (4015, 'Dr.Saransh', 'Nephrology', 'MBBS | MD | DM | DNB'),
        (4016, 'Dr.Aasha', 'Nephrology', 'MBBS | MD | DM'),
        (5011, 'Dr.Shobha Singh', 'Neurologist', 'MBBS | DNB - General Medicine | DM - Neurology'),
        (5012, 'Dr.Aparna Pai', 'Neurologist', 'DM NEUROLOGY'),
        (5013, 'Dr.Shankar', 'Neurologist', 'MBBS | MD | DNB | DM'),
        (5014, 'Dr.Arvind', 'Neurologist', 'MBBS | MS | DNB'),
        (5015, 'Dr.Vijay Shankar', 'Neurologist', 'MBBS | MD | DM'),
        (5016, 'Dr.Ashwin', 'Neurologist', 'MBBS | DM'),
        (6011, 'Dr.Murlidhar', 'OBG', 'MBBS | Diploma | MD | FICOG'),
        (6012, 'Dr.Anjali', 'OBG', 'MBBS | MD (Obstetrics & Gynaecology)'),
        (6013, 'Dr.Manik', 'OBG', 'MBBS | MD (Obstetrics & Gynaecology)'),
        (6014, 'Dr.Meena Sharma', 'OBG', 'MBBS | MS | DNB '),
        (6015, 'Dr.Surajr', 'OBG', 'MBBS | DGO | MD | MRCOG (UK)'),
        (6016, 'Dr.Sowbhagya', 'OBG', ' MBBS | MD (Obstetrics & Gynaecology)'),
        (7011, 'Dr.Shama', 'Ophthalmology', 'MBBS | MS | FPRS'),
        (7012, 'Dr.Krishan', 'Ophthalmology', 'MBBS | MS'),
        (7013, 'Dr.Neeta', 'Ophthalmology', 'MBBS | MS'),
        (7014, 'Dr.Shailaja', 'Ophthalmology', ' MD | PG Diploma in DOMS'),
        (7015, 'Dr.Yogish Agarwal', 'Ophthalmology', 'MBBS | MS'),
        (7016, 'Dr.Sudha', 'Ophthalmology', 'MBBS | MS'),
        (8011, 'Dr.Anil', 'Orthopaedics', 'MBBS | MS Orthopaedics'),
        (8012, 'Dr.Kiran Kumar', 'Orthopaedics', 'MBBS | MS | DNB'),
        (8013, 'Dr.Jayaram', 'Orthopaedics', 'MBBS | MS'),
        (8014, 'Dr.Padmaraj', 'Orthopaedics', 'MBBS | diploma (Orthopaedics) | MS'),
        (8015, 'Dr.Niranjan', 'Orthopaedics', 'MBBS | MS'),
        (8016, 'Dr.Aarti', 'Orthopaedics', 'MBBS | MS'),
        (9011, 'Dr.Bhaskar', 'Paediatrics', 'MBBS | MD'),
        (9012, 'Dr.Vasudev', 'Paediatrics', 'MBBS | DCH | MRPCH'),
        (9013, 'Dr.Kneethi', 'Paediatrics', ' MBBS | DCH | DNB'),
        (9014, 'Dr.Neha', 'Paediatrics', 'MBBS | MD'),
        (9015, 'Dr.Suman', 'Paediatrics', 'MBBS | DCH | MRPCH'),
        (9016, 'Dr.Naresh', 'Paediatrics', 'MBBS | MD');

In [13]:
SELECT * FROM INFORMATION_SCHEMA.TABLES;

TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
myHospital,sys,database_firewall_rules,VIEW
myHospital,dbo,MEDICINE,BASE TABLE
myHospital,dbo,DOCTOR,BASE TABLE
myHospital,dbo,PATIENT,BASE TABLE
myHospital,dbo,TEST,BASE TABLE

In [34]:
SELECT * FROM DOCTOR;

DOC_ID,NAME,DEPARTMENT,QUALIFICATION
1011,Dr.Arun T V,ENT,MBBS | MS
1012,Dr.Jayanthi,ENT,MBBS | DLO | DNB(ENT)
1013,Dr.Rohit M,ENT,MBBS | MS
1014,Dr.Mukundan,ENT,MBBS | MS
1015,Dr.Anand,ENT,MBBS | MS
1016,Dr.Aashalatha,ENT,MBBS | MS
2011,Dr.Mohan,Dental Medicine,BDS | MDS
2012,Dr.Shubha,Dental Medicine,BDS | MDS Prosthodontics
2013,Dr.Rithika Sharma,Dental Medicine,BDS | MDS
2014,Dr.Pavandeep,Dental Medicine,BDS
2015,Dr.Sachdeva,Dental Medicine,BDS | MDS
2016,Dr.Bharat,Dental Medicine,BDS | M.I.D.A | F.A.G.E
3011,Dr.Savita,Dermatology,MD | FRGUHS - Cosmetic Dermatology
3012,Dr.Joshi,Dermatology,MBBS | MD (Dermatology)
3013,Dr.Ritu,Dermatology,MBBS | MD (Dermatology)
3014,Dr.Jaidev,Dermatology,"MD (Dermatology), FRGUHS"
3015,Dr.Sushmitha,Dermatology,"MBBS | DDV, DNB"
3016,Dr.Gaurav,Dermatology,MBBS | MD
4011,Dr.Ravi,Nephrology,MBBS | MD (Int Med) | DNB (Nephro)
4012,Dr.Darshan Sharma,Nephrology,MBBS | MD | DM | DNB
4013,Dr.Mayank,Nephrology,MBBS | MD | DM
4014,Dr.Yug Singh,Nephrology,MD | DM
4015,Dr.Saransh,Nephrology,MBBS | MD | DM | DNB
4016,Dr.Aasha,Nephrology,MBBS | MD | DM
5011,Dr.Shobha Singh,Neurologist,MBBS | DNB - General Medicine | DM - Neurology
5012,Dr.Aparna Pai,Neurologist,DM NEUROLOGY
5013,Dr.Shankar,Neurologist,MBBS | MD | DNB | DM
5014,Dr.Arvind,Neurologist,MBBS | MS | DNB
5015,Dr.Vijay Shankar,Neurologist,MBBS | MD | DM
5016,Dr.Ashwin,Neurologist,MBBS | DM
6011,Dr.Murlidhar,OBG,MBBS | Diploma | MD | FICOG
6012,Dr.Anjali,OBG,MBBS | MD (Obstetrics & Gynaecology)
6013,Dr.Manik,OBG,MBBS | MD (Obstetrics & Gynaecology)
6014,Dr.Meena Sharma,OBG,MBBS | MS | DNB
6015,Dr.Surajr,OBG,MBBS | DGO | MD | MRCOG (UK)
6016,Dr.Sowbhagya,OBG,MBBS | MD (Obstetrics & Gynaecology)
7011,Dr.Shama,Ophthalmology,MBBS | MS | FPRS
7012,Dr.Krishan,Ophthalmology,MBBS | MS
7013,Dr.Neeta,Ophthalmology,MBBS | MS
7014,Dr.Shailaja,Ophthalmology,MD | PG Diploma in DOMS
7015,Dr.Yogish Agarwal,Ophthalmology,MBBS | MS
7016,Dr.Sudha,Ophthalmology,MBBS | MS
8011,Dr.Anil,Orthopaedics,MBBS | MS Orthopaedics
8012,Dr.Kiran Kumar,Orthopaedics,MBBS | MS | DNB
8013,Dr.Jayaram,Orthopaedics,MBBS | MS
8014,Dr.Padmaraj,Orthopaedics,MBBS | diploma (Orthopaedics) | MS
8015,Dr.Niranjan,Orthopaedics,MBBS | MS
8016,Dr.Aarti,Orthopaedics,MBBS | MS
9011,Dr.Bhaskar,Paediatrics,MBBS | MD
9012,Dr.Vasudev,Paediatrics,MBBS | DCH | MRPCH
9013,Dr.Kneethi,Paediatrics,MBBS | DCH | DNB
9014,Dr.Neha,Paediatrics,MBBS | MD
9015,Dr.Suman,Paediatrics,MBBS | DCH | MRPCH
9016,Dr.Naresh,Paediatrics,MBBS | MD

In [15]:
SELECT * FROM MEDICINE;

In [16]:
ALTER TABLE TEST
DROP COLUMN PRICE;

In [23]:
SELECT * FROM TEST;
SELECT * FROM PATIENT;

TID,NAME,PRICE
1,ECG-Adult,Rs.300.00
2,Echo - Cardiogram,Rs.1200.00
3,Esr (Automated),Rs.400.00
4,Glucose-Fasting,Rs.200.00
5,Glucose-Post Prandial,Rs.100.00
6,Glycated Haemoglobin,Rs.450.00
7,Hc Cardiology Consultation,Rs.650.00
8,Hc Diet Consultation,Rs.570.00
9,Hc Physician Consultation,Rs.570.00
10,Kidney Profile,Rs.220.00
11,Lipid Profile,Rs.399.00
12,Liver Function Test,Rs.481.00
13,Thyroid Profile (T3 T4 Tsh),Rs.375.00
14,Total Vitamin D,Rs.1600.00
15,Thread Mill Test,Rs.13000.00
16,Vitamin B12,Rs.987.00
17,Xray Chest Pa,Rs.300.00
18,Renal Profile,Rs.800.00

PID,NAME,AGE
101,Ram Singh,26
102,Siya Sharma,45
103,Aparna Gowda,30
104,Ritu Arora,19
105,Mayank Shetty,32
106,Aaron Pinto,37
107,Gagan Kundra,40
108,Geeta Rao,28
109,Deepika Kamath,47
110,Neha Rai,35
111,Rohit Verma,50
112,Hardik Pandya,30
113,Krunal Singh,31
114,Anjana,44
115,Premalatha,52
116,Aahan Khan,15
117,Sonali Singh,17
118,Arman Agrawal,48
119,Suresh Bhat,55
120,Preethi Kapoor,50

In [17]:
ALTER TABLE TEST 
ADD PRICE NVARCHAR(40);

In [18]:
INSERT INTO TEST 
VALUES (001, 'ECG-Adult', 'Rs.300.00'),
       (002, 'Echo - Cardiogram', 'Rs.1200.00');

In [20]:
INSERT INTO TEST 
VALUES (003, 'Esr (Automated)', 'Rs.400.00'),
       (004, 'Glucose-Fasting', 'Rs.200.00'),
       (005, 'Glucose-Post Prandial', 'Rs.100.00'),
       (006, 'Glycated Haemoglobin', 'Rs.450.00'),
       (007, 'Hc Cardiology Consultation', 'Rs.650.00'),
       (008, 'Hc Diet Consultation', 'Rs.570.00'),
       (009, 'Hc Physician Consultation', 'Rs.570.00'),
       (010, 'Kidney Profile', 'Rs.220.00'),
       (011, 'Lipid Profile', 'Rs.399.00'),
       (012, 'Liver Function Test', 'Rs.481.00'),
       (013, 'Thyroid Profile (T3 T4 Tsh)', 'Rs.375.00'),
       (014, 'Total Vitamin D', 'Rs.1600.00'),
       (015, 'Thread Mill Test', 'Rs.13000.00'),
       (016, 'Vitamin B12', 'Rs.987.00'),
       (017, 'Xray Chest Pa', 'Rs.300.00'),
       (018, 'Renal Profile', 'Rs.800.00');

In [24]:
INSERT INTO PATIENT
VALUES (101, 'Ram Singh', 26),
       (102, 'Siya Sharma', 45),
       (103, 'Aparna Gowda', 30),
       (104, 'Ritu Arora', 19 ),
       (105, 'Mayank Shetty', 32),
       (106, 'Aaron Pinto', 37),
       (107, 'Gagan Kundra', 40),
       (108, 'Geeta Rao', 28),
       (109, 'Deepika Kamath', 47),
       (110, 'Neha Rai', 35),
       (111, 'Rohit Verma', 50),
       (112, 'Hardik Pandya', 30),
       (113, 'Krunal Singh', 31),
       (114, 'Anjana', 44),
       (115, 'Premalatha', 52),
       (116, 'Aahan Khan', 15),
       (117, 'Sonali Singh', 17),
       (118, 'Arman Agrawal', 48),
       (119, 'Suresh Bhat', 55),
       (120, 'Preethi Kapoor', 50);

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__PATIENT__C577552099CE0688'. Cannot insert duplicate key in object 'dbo.PATIENT'. The duplicate key value is (101).

In [25]:
SELECT * FROM PATIENT;

PID,NAME,AGE
101,Ram Singh,26
102,Siya Sharma,45
103,Aparna Gowda,30
104,Ritu Arora,19
105,Mayank Shetty,32
106,Aaron Pinto,37
107,Gagan Kundra,40
108,Geeta Rao,28
109,Deepika Kamath,47
110,Neha Rai,35
111,Rohit Verma,50
112,Hardik Pandya,30
113,Krunal Singh,31
114,Anjana,44
115,Premalatha,52
116,Aahan Khan,15
117,Sonali Singh,17
118,Arman Agrawal,48
119,Suresh Bhat,55
120,Preethi Kapoor,50

In [35]:
SELECT * FROM MEDICINE;

In [36]:
ALTER TABLE MEDICINE 
ALTER COLUMN PRICE NVARCHAR(40);

In [37]:
INSERT INTO MEDICINE
VALUES  (1111, 'Crocin', 'Rs.30.00'),
        (1112, 'Dolo', 'Rs.13.78'),
        (1113, 'Paracetamol', 'Rs.10.00'),
        (1114, 'Lanzol', 'Rs.09.00'),
        (1115, 'Brufen', 'Rs.10.92'),
        (1116, 'Cetirizine', 'Rs.16.80'),
        (1117, 'Aspirin', 'Rs.03.99'),
        (1118, 'Benadryl', 'Rs.81.60'),
        (1119, 'Rantac', 'Rs.16.38'),
        (1120, 'Loperamide', 'Rs.16.50'),
        (1121, 'Strepsils', 'Rs.03.00'),
        (1122, 'Limcee', 'Rs.23.05'),
        (1123, 'Avil', 'Rs.02.40'),
        (1124, 'Pantoprazole', 'Rs.40.00'),
        (1125, 'Loperamide', 'Rs.16.50');