This is my first SQL Query on my Thinkpad

In [1]:
SELECT * FROM INFORMATION_SCHEMA.TABLES;

TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
myHospital,sys,database_firewall_rules,VIEW
myHospital,dbo,MEDICINE,BASE TABLE
myHospital,dbo,DOCTOR,BASE TABLE
myHospital,dbo,PATIENT,BASE TABLE
myHospital,dbo,TEST,BASE TABLE